<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-8"></div>
      <div class="col-4">
        <div class="container sign-in">
          <h1>Sign in</h1>
          <input
            class="form-control form-control-sm"
            type="text"
            placeholder="Username"
            aria-label="Input for username"
          />
          <input
            class="form-control form-control-sm"
            type="password"
            placeholder="Password"
            aria-label="Input for password"
          />
        </div>
      </div>
    </div>
  </div>
</div>
